<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1><%= t Family.model_name.human %></h1>
  <%= render @family %>
  <%= render 'admin/shared/show_actions', object: @family %>
</div>
