<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1><%= t Plant.model_name.human %></h1>
  <%= render @plant %>
  <%= render 'admin/shared/show_actions', object: @plant %>
</div>
