<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1><%= t Location.model_name.human %></h1>
  <%= render @location %>
  <%= render 'admin/shared/show_actions', object: @location %>
</div>
